body {
    background-color: powderblue;
}
        
hr {
    border-style: dotted none none none;
    border-color: grey;
    border-width: 5px;
    height: 1px;
    width: 5%;
}

h1, h3 {
    color: #256D85;
    font-family: Courier New;
}